:root{
    --main-color:#17496b
}

.menu {
    cursor: pointer;
}

.main {
    background-color: #eee !important;
    min-height: calc(100vh - 71.94px);
}

a {
    text-decoration: none !important;
}


.data-table-action {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30px;
    height: 30px;
    background-color: var(--main-color);
    border-radius: 50%;
    z-index: 122;
    color: #fff;
}

.add-btn {
    color: #fff !important;
    background-color: var(--main-color) !important;
}
